//
// Component:       Variables
// Description:     Defines common values which are used across all components
//
// ========================================================================
// Palette
// ========================================================================
$white: #fff;
$black: #000;
$light: #f4f4f4;
$gray: #777;
$light-gray: #DDD;
$medium-gray: #999;
$dark-gray: #303030;
$dark-blue: #1f2530;
$medium-blue:#353c4c;
$light-blue: #4a556c;
$t-blue: rgba(18, 29, 43, .86);

$accent-color: #65BDEA;
$primary-color: $dark-blue;
$secondary-color: #2D3047;
$bg-color: $white;
$bg-darken-color: darken($bg-color, 3%);
$bg-lighten-color: lighten($primary-color, 55%);

// Breakpoints
// ========================================================================

// Phone Portrait:   Galaxy (360x640), iPhone 6 (375x667), iPhone 6+ (414x736)
// Phone Landscape:  Galaxy (640x360), iPhone 6 (667x375), iPhone 6+ (736x414)
// Tablet Portrait:  iPad (768x1024), Galaxy Tab (800x1280),
// Tablet Landscape: iPad (1024x768), iPad Pro (1024x1366),
// Desktop:          Galaxy Tab (1280x800), iPad Pro (1366x1024)
$max-width: 1200px;

$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1240px;

$breakpoint-small: $mobile;
$breakpoint-medium: $tablet;
$breakpoint-large: $laptop;
$breakpoint-xlarge: $desktop;

$breakpoint-xsmall-max: ($breakpoint-small - 1);
$breakpoint-small-max: ($breakpoint-medium - 1);
$breakpoint-medium-max: ($breakpoint-large - 1);
$breakpoint-large-max: ($breakpoint-xlarge - 1);

// Global variables
// ========================================================================

//
// Typography
//
$sans-serif: helvetica, arial;
$serif: georgia;

$global-font-family: 'Open Sans', sans-serif;
$global-heading-font-family: 'Lato', sans-serif;
$global-font-size: rem(14);
$global-line-height: 1.71;

$global-xxlarge-font-size: rem(42); //h1
$global-xlarge-font-size: 30px; //h2
$global-large-font-size: 18px; //h3
$global-medium-font-size: 16px; //h4
$global-small-font-size: 12px; //h6

//
// Colors
//

$global-color: $dark-gray;
$global-emphasis-color: $accent-color;
$global-muted-color: $medium-gray;

$global-link-color: $accent-color;
$global-link-hover-color: darken($accent-color, 15%);

$global-inverse-color: $white;
$inverse-global-muted-color: rgba($global-inverse-color, 0.5) !default;
$inverse-global-inverse-color: $global-color !default;

//
// Backgrounds
//

$global-background: $white;

$global-muted-background: $bg-lighten-color;
$global-primary-background: $primary-color;
$global-secondary-background: $secondary-color;

$global-success-background: #32d296;
$global-warning-background: #faa05a;
$global-danger-background: $accent-color;

$inverse-global-primary-background: $global-inverse-color !default;

//
// Borders
//

$global-border-width: 1px;
$global-border: $light-gray;
$global-border-radius: 0;

$grid-divider-border: rgba(255,255,255,.4);

//
// Box-Shadows
//

$global-small-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
$global-medium-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
$global-large-box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
$global-xlarge-box-shadow: 0 28px 50px rgba(0, 0, 0, 0.16);

//
// Spacings
//

// Used in margin, section, list
$global-margin: 24px; //font-size x line height
$global-small-margin: $global-margin/2;
$global-medium-margin: $global-margin * 2;
$global-large-margin: $global-margin * 3.5;
$global-xlarge-margin: $global-large-margin * 2;

// Used in grid, column, container, align, card, padding
$global-gutter: 30px;
$global-small-gutter: 15px;
$global-medium-gutter: 40px;
$global-large-gutter: 70px;

//
// Controls
//

$global-control-height: 40px;
$global-control-small-height: 30px;
$global-control-large-height: 55px;

//
// Z-index
//

$global-z-index: 1000;

$button-default-color: $global-color;

$alert-padding: $global-small-gutter !default;

$inverse-global-color: rgba($global-inverse-color, 0.7) !default;
$inverse-global-emphasis-color: $global-inverse-color !default;
$inverse-global-border: rgba($global-inverse-color, 0.2) !default;
$inverse-global-muted-background: rgba($global-inverse-color, 0.1) !default;









