/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
  font-size: rem(16);

}

.sidebar li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted $global-border;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
  margin-bottom: 0;
}

.sidebar .widget {
  margin-bottom: 40px;
  background-color: $white;

}

.sidebar .widget.enews-widget {
  @include max-screen($tablet) {
    padding: 40px;
  }
}

.page-template-investments{
  .sidebar-primary,.sidebar-primary .widget{
    background: #1f2530;
    color: $white;
  }
  .sidebar-primary{
    padding: 70px 20px 20px;
    @include min-screen($laptop){
      margin-top: -50px;
    }
    h2{
      color: $white;
      font-weight: 300;
      text-transform: uppercase;
    }
    .uk-button{
      float: right;
      color:$white;
      border:1px solid $white;
      &:hover{
        background: $white;
        color: $black;
      }
    }
  }
}

.single{
  .sidebar-primary{
    padding: 20px;
    .entry-title{
      font-size: 17px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 24px;
    }
  }
  .sidebar-primary, .sidebar-primary .widget, .sidebar-primary .widget .entry{
    @include min-screen($laptop){
      background: $light;
    }

  }
}


