/* ## Titles
--------------------------------------------- */

.archive-title {
  font-size: rem(20);
}

.entry-title {
 .blog &, .page-template-video-page &{
   font-size: 18px;
   font-family: $base-body-font-family;
   font-weight: 700;
   margin-top: 24px;
 }
  .single &{
    font-family:$base-body-font-family;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
  }
}



.entry-title a:hover {
  color: $base-link-hover-color;
}

.widget-title {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-widgets .widget-title {
  color: $white;
}
