/* # Site Header
---------------------------------------------------------------------------------------------------- */
body{
  position: relative;
}
.site-header {
  position: relative;
  z-index: 2;
  @include max-screen($tablet) {
    padding: 0;
  }

  min-height: 100px;
  background-color: $t-blue;
  .title-area {
    @include max-screen($laptop) {
      text-align: center;
    }
  }
}

.site-header > .wrap {
  // 	@include susy-media( $laptop) {
  // 		padding: 40px 0;
  // 	}

  padding: 15px 0;
  @include max-screen($laptop) {
    padding: 15px 0 0;
  }
}

/* ## Title Area
--------------------------------------------- */

.title-area {
  @include min-screen($laptop) {
    width: 300px;
  }
  @include min-screen($desktop) {
    width: 360px;
  }

  float: left;
  width: 100%;
  @include min-screen($laptop) {
    margin-top: 14px;
  }
}

.header-full-width .title-area {
  width: 100%;
}

.site-title {
  @include max-screen($laptop) {
    text-align: center;
  }

  font-size: $global-medium-font-size;
  font-weight:400;
  line-height: 1.5;
  text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
  color: $dark-gray;
}

.header-image .site-title > a {
  float: left;
  width: 100%;
  min-height: 54px;
  background: url(../images/logo.png) no-repeat left;
  display: block;
  @include max-screen($laptop) {
    float: none;
    width:320px;
    margin:0 auto;
  }
}

.site-description {
  display: none;
  @include max-screen($laptop) {
    text-align: center;
  }

  font-size: rem(16);
  font-weight: 400;
  line-height: 1.5;
}

.site-description,
.site-title {
  margin-bottom: 0;
  margin-top: 0;
}

.header-image .site-title {
  display: block;
  text-indent: -9999px;
}

.header-image .title-area {
  @include max-screen($laptop) {
    background-position: center top;
  }
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
  @include min-screen($laptop) {
    width: 620px;
  }
  @include min-screen($desktop) {
    width: 800px;
  }

  float: right;
  width: 100%;
  text-align: right;
}

.site-header .search-form {
  @include max-screen($laptop) {
    float: none;
  }
  @include max-screen($tablet) {
    margin: 16px auto;
    text-align: center;
  }
}

/* ## Top bar
--------------------------------------------- */
#top-bar{
  background: $white;
  padding: 29px 0;
  @include max-screen($laptop) {
    padding:10px 0;
  }
  .wrap{
    position: relative;
  }
}
.top-right-box {
  position: absolute;
  top: 0;
  width: 100%;
  @include max-screen($tablet) {
    position: inherit;
  }
  .wrap{
    position: relative;
    .box{
      width:460px;
      float: right;
      text-align: right;
      @include max-screen($tablet) {
        float: left;
        text-align: left;
        width:100%;
      }
      .wpml-ls-legacy-list-horizontal{
        width:160px;
        float: left;
        margin-top: 25px;
        @include max-screen($laptop) {
          margin-top: 10px;
        }
        @include max-screen($tablet) {
          float: none;
          position: absolute;
          bottom:40px;
          right:20px;
          text-align: right;
        }
        @include max-screen($mobile) {
          right:0;
        }
      }
      > p{
        margin-top:34px;
        @include max-screen($laptop) {
          margin-top: 20px;
        }
        @include max-screen($tablet) {
          margin-top: 0px;
          text-align: center;
          margin-bottom: 0;
          position: relative;
          bottom:15px;
        }
        a{
          margin-left:10px;
          color: $primary-color;
          &:hover{
            color: $base-link-hover-color;;
          }
        }

      }
    }
  }
}
.simple-social-icons ul li a{
  @include max-screen($mobile) {
    padding:8px 4px!important;
  }
}