<div class="contact-info" >
    <div class="offices one-half first">
        {% for item in post.get_field('offices') %}
            <div class="office ">
                <div class="flag one-third first"><img src="{{ TimberImage(item.flag) | e('esc_url') }}"
                                       alt=""></div>
                <div class="office-info two-third">
                    <div class="office-name">{{ item.name | e('esc_html') }}</div>
                    <div class="office-address">{{ item.address  | e('wp_kses_post') | wpautop }}</div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="contact-form one-half">
    {{ form }}
    </div>
</div>