<div class="investment-options uk-child-width-1-3@m uk-grid-small" uk-grid>
    {% for item in post.get_field('investment_options') %}
        <div class="option">
            <div class="option-list">
                <h4>{{ item.title | e('esc_html') }}</h4>
                <div class="option-content">{{ item.list  | e('wp_kses_post') }}</div>
            </div>
            <div class="triggers">
                <a href="#key-reasons-{{ loop.index }}" class="modal-trigger key-trigger uk-display-block"
                   uk-toggle>Key Reasons to Invest <span class="uk-float-right" uk-icon="icon: plus
"></span></a>

                <a href="#overview-{{ loop.index }}"
                   class="modal-trigger overview-trigger  uk-display-block" uk-toggle>Overview <span class="uk-float-right" uk-icon="icon: plus"></span></a>
                <a href="#faq-{{ loop.index }}"
                   class="modal-trigger faq-trigger  uk-display-block" uk-toggle>Frequently Asked Questions <span class="uk-float-right" uk-icon="icon: plus"></span></a>
            </div>

        </div>
    {% endfor %}

</div>

{% for item in post.get_field('investment_options') %}
    <div id="key-reasons-{{ loop.index }}" uk-modal>
        <div class="uk-modal-dialog uk-modal-body ">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Key Reasons to Invest</h2>
            <p>{{ item.key_reasons  | e('wp_kses_post') }}</p>
        </div>
    </div>
    <div id="overview-{{ loop.index }}" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Overview</h2>
            <p>{{ item.overview  | e('wp_kses_post') }}</p>
        </div>
    </div>

    <div id="faq-{{ loop.index }}" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Faq</h2>
                <ul class="" uk-accordion >
                {% for faq in item.faq %}
                        <li>
                            <h3 class="uk-accordion-title">{{ faq.title | e('esc_html') }}</h3>
                            <div class="uk-accordion-content">{{ faq.answer  | e('wp_kses_post') }}</div>
                        </li>
                {% endfor %}
                </ul>
        </div>
    </div>


{% endfor %}

