//
// Component: Close
//
// ========================================================================


// Variables
// ========================================================================
$close-color:                                    $global-color;
$close-hover-color:                              $global-link-hover-color;


// Component
// ========================================================================



 @mixin hook-close-hover(){
   background: transparent;
 }


// Miscellaneous
// ========================================================================

// @mixin hook-close-misc(){}


// Inverse
// ========================================================================

// @mixin hook-inverse-close(){}
// @mixin hook-inverse-close-hover(){}