//
// Component: Form
//
// ========================================================================
$form-height:                                    $global-control-height !default;
$form-border-width:                              $global-border-width !default;
$form-line-height: $form-height - (2* $form-border-width) !default;



$form-border:                                    $global-border !default;

$form-focus-border:                              $global-primary-background !default;

$form-disabled-border:                           $global-border !default;

$form-danger-border:                             $global-danger-background !default;
$form-success-border:                            $global-success-background !default;

$form-blank-focus-border:                        $global-border !default;
$form-blank-focus-border-style:                  dashed !default;

$form-radio-border-width:                        $global-border-width !default;
$form-radio-border:                              darken($global-border, 10%) !default;

$form-radio-focus-border:                        $global-primary-background !default;

$form-radio-checked-border:                      transparent !default;

$form-radio-disabled-border:                     $global-border !default;

$form-label-color:                               $global-emphasis-color !default;
$form-label-font-size:                           $global-small-font-size !default;



$form-line-height:                               $form-height - (2* $form-border-width) !default;
$form-padding-horizontal:                        10px !default;
$form-padding-vertical:                          4px !default;

$form-background:                                $global-background !default;
$form-color:                                     $global-color !default;

$form-focus-background:                          $global-background !default;
$form-focus-color:                               $global-color !default;

$form-disabled-background:                       $global-muted-background !default;
$form-disabled-color:                            $global-muted-color !default;

$form-placeholder-color:                         $global-muted-color !default;

$form-small-height:                              $global-control-small-height !default;
$form-small-padding-horizontal:                  8px !default;
$form-small-line-height:                         $form-small-height - (2* $form-border-width) !default;
$form-small-font-size:                           $global-small-font-size !default;

$form-large-height:                              $global-control-large-height !default;
$form-large-padding-horizontal:                  12px !default;
$form-radio-background:                          transparent !default;
$form-large-font-size:                           $global-medium-font-size !default;

$form-danger-color:                              $global-danger-background !default;
$form-success-color:                             $global-success-background !default;

$form-width-xsmall:                              40px !default;
$form-width-small:                               130px !default;
$form-width-medium:                              200px !default;
$form-width-large:                               500px !default;

$form-select-padding-right:                      20px !default;
$form-select-icon-color:                         $global-color !default;
$form-select-disabled-icon-color:                $global-muted-color !default;

$form-radio-size:                                16px !default;
$form-radio-margin-top:                          -4px !default;
$form-radio-background:                          darken($global-muted-background, 5%) !default;

$form-radio-checked-background:                  $global-primary-background !default;
$form-radio-checked-icon-color:                  $global-inverse-color !default;

$form-radio-checked-focus-background:            darken($global-primary-background, 10%) !default;

$form-radio-disabled-background:                 $global-muted-background !default;
$form-radio-disabled-icon-color:                 $global-muted-color !default;

$form-legend-font-size:                          $global-large-font-size !default;
$form-legend-line-height:                        1.4 !default;
$form-stacked-margin-bottom:                     5px !default;

$form-horizontal-label-width:                    200px !default;
$form-horizontal-label-margin-top:               7px !default;
$form-horizontal-controls-margin-left:           215px !default;
$form-horizontal-controls-text-padding-top:      7px !default;

$form-icon-width:                                $form-height !default;
$form-icon-font-size:                            $global-font-size !default;
$form-icon-color:                                $global-muted-color !default;
$form-icon-hover-color:                          $global-color !default;

$internal-form-select-image: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%201%209%206%2015%206%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%2013%209%208%2015%208%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E%0A" !default;
$internal-form-radio-image: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22#000%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%3E%3C%2Fcircle%3E%0A%3C%2Fsvg%3E" !default;
$internal-form-checkbox-image: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%2F%3E%0A%3C%2Fsvg%3E" !default;
$internal-form-checkbox-indeterminate-image: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22#000%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%3E%3C%2Frect%3E%0A%3C%2Fsvg%3E" !default;


input,
select,
textarea {
  width: 100%;
  padding: 16px;
  border: 1px solid $global-border;
  color: $dark-gray;
  background-color: $white;
  font-size: 14px;
  font-weight: 300;
}

input:focus,
textarea:focus {
  border: 1px solid $medium-gray;
  outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

::-moz-placeholder {
  opacity: 1;
  color: $dark-gray;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: $dark-gray;
  font-weight: 300;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}


/* ## Search Form
--------------------------------------------- */

.search-form {
  overflow: hidden;
}

.site-header .search-form {
  float: right;
  margin-top: 12px;

}
.right.search{
  input{
    padding: 10px 15px;
    margin-top: 8px;
    font-size: rem(8);
    text-transform: uppercase;
    font-style: italic;

  }
}

.entry-content .search-form,
.site-header .search-form {
  width: 50%;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
  clip: rect(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}


// Component
// ========================================================================



// @mixin hook-form-single-line(){}

// @mixin hook-form-multi-line(){}






// Style modifiers
// ========================================================================










// Radio and checkbox
// ========================================================================







// @mixin hook-form-radio-checked-focus(){}




// Legend
// ========================================================================

// @mixin hook-form-legend(){}


// Label
// ========================================================================




// Layout
// ========================================================================

// @mixin hook-form-stacked-label(){}

// @mixin hook-form-horizontal-label(){}


// Miscellaneous
// ========================================================================

// @mixin hook-form-misc(){}


// Inverse
// ========================================================================

$inverse-form-label-color:                       $inverse-global-emphasis-color !default;








// @mixin hook-inverse-form-radio-checked-focus(){}

