{% set bg = TimberImage(post.benefits_bg) %}
<section class="benefits"
         style="background: url({{ bg.src | e('esc_url') }}) no-repeat; background-size: cover;">
<div class="uk-container">
    <h2 class="benefits-title" uk-scrollspy="cls: uk-animation-slide-bottom-small ; delay: 500">{{ post.benefits_title }}</h2>

    <div class="benefits-list" uk-scrollspy="cls: uk-animation-slide-bottom-medium ; delay: 1000>
        {% for item in post.get_field('benefits') %}
            <h3>{{ item.title | e('esc_html') }}</h3>
            <div class="benefit-blurb">{{ item.blurb | e('esc_html') }}</div>
        {% endfor %}</div>
    </div>
</section>