<section class="investment-vehicles" >
    <div class="big-block " >
        <div class="uk-container">
            <h2 class="uk-h1" uk-scrollspy="cls: uk-animation-slide-bottom-small ; delay: 500">{{ post.iv_first_block_title | e('esc_html') }}</h2>
            <div class="content" uk-scrollspy="cls: uk-animation-slide-bottom-small ; delay: 1500">{{ post.iv_first_block_content | wpautop  | e('wp_kses_post') }}</div>
        </div>

    </div>
    <div class="small-blocks uk-grid-collapse uk-child-width-1-3@l" uk-grid>
    {% for item in post.get_field('iv_small_blocks') %}
        <div class="small-block uk-flex uk-flex-middle">
            <div class="small-block-wrapper">
                <h3 class="small-block-title" uk-scrollspy="cls: uk-animation-slide-left-small ; delay: 500">{{ item.title  | e('wp_kses_post') }}</h3>
                <hr uk-scrollspy="cls: uk-animation-slide-bottom-small ; delay: 1000">
                <div class="small-block-content" uk-scrollspy="cls: uk-animation-slide-right-small ; delay: 500"> {{ item.content  | e('wp_kses_post') }}</div>
                <a href="{{ item.link | e('esc_url') }}"
                   class="uk-button uk-button-default">Find Out More</a></div>
            </div>
    {% endfor %}
    </div>
</section>
