<div class="swiper-container">
    <!-- Additional required wrapper -->
    <ul class="swiper-wrapper">
        <!-- Slides -->
        {% set slides = post.get_field('slides') %}
        {% for slide in slides %}
        {% set imgId = TimberImage(slide.slide_image) %}
        <li class="swiper-slide" style="background-image:url({{ imgId.src | e('esc_url') }})">
            <div class="uk-container uk-overlay uk-position-bottom">
                <div class="slider-text" uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 100">{{ slide
                    .slide_text | e('esc_html') }}
                </div>
                <div class="spacer" uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300"></div>
                <div class="slider-subtext" uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 400">{{ slide.slide_subtext | e('esc_html') }}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

</div>
