.gmaps{
  position: absolute;
  top:0;
  z-index:-10;
}
.offices{
  clear:both;
}
.office{
  //max-width: 450px;
  margin-bottom: 40px;
  clear:both;
}
.flag{
  margin-bottom: 40px;
  margin-right: 20px;
}
.contact-form{
  input, textarea{
    background: #F8F8F8;
    border: none;

  }
  .nf-field-container {
    margin-bottom: 10px;
  }
  margin-bottom: 130px;
  .uk-button{
    background: $black;
    color:$white;
    float: right;
    font-weight: 400;
    border:2px solid $black;
    &:hover{
      background: transparent;
      color: $black;

    }
  }
}

.office-name{
  font-weight: 700;
  font-size:16px;
  margin-bottom: 15px;
}
.office-info{
  padding-top: 10px;
}
.contact-info{
  clear:both;
}