.option-list{
  background: $light;
  border: 3px solid #d8d8d8;
  padding: 24px 20px 24px 35px;
  background-image: url('assets/images/logo-bg.jpg') no-repeat;
  background-size:cover;
  li{
    list-style-type: disc;
  }
  h4{
    font-size:16px;
    font-weight: 700;
  }

}
.modal-trigger{
  background: $dark-blue;
  color:$white;
  font-weight: 300;
  line-height: 58px;
  padding: 0 21px;
  margin: 10px 0;
  font-size:16px;
  font-family: $base-heading-font-family;
  &:nth-child(1){
    background: $dark-blue;
  }
  &:nth-child(2){
    background: $medium-blue;
  }
  &:nth-child(3){
    background: $light-blue;
  }
  span{
    line-height:58px;
  }

}