//Slider
.header-wrap{
  position: relative;
  height: 584px;
  .home &{
    height: 800px;
  }
}
.swiper-container {
  width: 100%;
  height: 800px;
  position: absolute;
  top: 0;
  /*z-index: -10;*/
  clear: both;
}
.swiper-slide {
  font-size: 18px;
  color: $white;
  background: $white;
  background-size:cover;
  .uk-container{
    margin-bottom: 100px;
  }
  .spacer{
    height:1px;
    background: rgba(255,255,255, .36);
    width: 800px;
    margin: 25px 0;
  }
}
.slider-text{
  font-size: 36px;
  @include max-screen($mobile){
    font-size: 30px;
  }
  font-family:$base-heading-font-family;
  line-height: 40px;
  font-weight:300;
  max-width:870px;
}
.slider-subtext{
  font-size:14px;
  font-weight: 300;
  line-height: 24px;
  max-width: 672px;
}
.swiper-pagination{
  right: 5%;
}
.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background: transparent;
  opacity: 1;
  border: 1px solid $white;
  &.swiper-pagination-bullet-active{
    background-color: $white;
  }
}

